.container-main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    background: rgb(67 67 67);
}

.container-overlay-left {
    width: 30%;
    background: rgb(36, 36, 36);
}
.container-overlay-right{
    width: 1%;
    background: rgb(36, 36, 36);
}

.container-view-video-top-bottom {
    display: flex;
    width: 80%;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
}

.container-overlay-top{ 
    background: rgb(36, 36, 36);
    width: 100%;
    height: 1%;
}

.cam-overlay {
    width: 100%;
    height: 98%;
    position: relative;
}

.container-corner{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.corner {
    position: absolute;
    background: rgb(36, 36, 36);
    width: 24px;
    height: 24px;
    z-index: 5;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    transform-origin: center;
}

.corner-1{
    top:0;
    left:0;
}

.corner-2{
    top: 0;
    right: 0;
    transform: scaleX(-1);
}

.corner-3{
    bottom: 0;
    left: 0;
    transform: scaleY(-1);
}

.corner-4{
    bottom: 0;
    right: 0;
    transform: scale(-1, -1);
}

@supports (clip-path: path("M0 0 L24 0 Q6 6 0 24 Z")) {
    .corner {
        clip-path: path("M0 0 L24 0 Q6 6 0 24 Z");
    }
}

.container-overlay-bottom {
    background: rgb(36, 36, 36);
    width: 100%;
    height: 1%;
}
